<!doctype html>
<html>
  <head>
    <title>Arduino Control Room</title>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/socket.io"></script>
    <script src="/js/controller.js"></script>
  </head>
    <body>
      <h1>Arduino Control Room</h1>
        <section class="controls">
          <button class="light-on">On</button>
          <button class="light-off">Off</button>
          <button class="light-blink">Blink</button>
          <button class="light-strobe">Strobe</button>
        </section>

      <script>
        var socket = io();
        $(document).ready(function(){
          lightOn(socket);
          lightOff(socket);
          lightBlink(socket);
          lightStrobe(socket);
          lightPulse(socket);
          keyLightOn(socket);
          keyLightOff(socket);
        });
      </script>
    </body>
</html>
