<!doctype html>
<html>
  <head>
    <title>Arduino Control Room</title>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/socket.io"></script>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
  </head>
    <body>
      <section class="container">
        <section class="navbar">
          <h1 class="title">Arduino Control Room</h1>
        </section>
          <section class="control-container">
            <ul class="controls">
              <li><button id="light-on">On</button></li>
              <li><button id="light-off">Off</button></li>
              <li><button id="light-blink">Blink</button></li>
              <li><button id="light-strobe">Strobe</button></li>
              <li><button id='light-fade'>Fade</button></li>
              <!-- <li><button id="led-brightness">Brightness</button></li> -->
            </ul>
          </section>
            <!-- <section class="keyboard-controls-container">
              <h3>Keyboard Controls:</h3>
                <ul>
                  <li>w = On</li>
                  <li>e = Off</li>
                </ul>
            </section> -->
              <script>
                var socket = io();
                $(document).ready(function(){
                  lightOn(socket);
                  lightOff(socket);
                  lightBlink(socket);
                  lightStrobe(socket);
                  lightFade(socket);
                  lightBrightness(socket);
                  keyLightOn(socket);
                  keyLightOff(socket);
                });
              </script>
      </section>
    </body>
</html>
